{% extends 'main/base.html' %}
{% block title %} Create New List {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h3 style="color: gray">Создание нового вопроса</h3>
<br>
<form class="form-group" method="post" , action={% url 'polls:create' %}>
{% csrf_token %}
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button name="save" , type="submit" , class="btn btn-success">Создание</button>
        {{form.name}}
    </div>
</div>
</form>
{% endblock %}